body {
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 0px;
};

div {
    display: block
    float: left;
    padding: 5px 15px 5px;
    height: 100%;
}

a:link {
    color: #2AA198;
}
a:visited {
    color: #D33682;
}

/* The side navigation menu */
.sidebar {
  position:fixed;
  left:0;
  width:20%;
  height:100;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  height: 100%;
  overflow: auto;
}

.maininfo {
    position:fixed;
    left:20%;
    width:80%;
    height:100%;
    padding:0;
    overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.title {
  font-size: 66px;
  color: black;
  font-weight: bold;
  text-align: center;
   margin-left: 3%;
   margin-right: 3%;
  padding-top: 35px;
  padding-bottom: 20px;
  font-family: 'Qwitcher Grypen', cursive;
}


/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
    .maininfo {
    width:100%;
    height:auto;
    position:relative;
    }
  .sidebar a {float: left;}
  .maininfo a {float: right;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
